/* shared styles */
body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    background: #FFF;
    border: none;
}




/* header related styes */

header {
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
}

header .header-content {
    text-align: end;
    max-width: 450px;
    padding: 150px 150px 250px 0px;
}

.header-content-title {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    margin: 0px;
}

.header-content-descrip {
    color: #FFF;
}


/* main related styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 100px;
    margin-bottom: 100px;
}


/* failure related styles */
.failure {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.failure-content {
    max-width: 420px;
    margin-top: 100px;
}

.failure-content-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
}

.failure-content-descrip,
.failure-item {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.failure-item {
    margin: 8px 0;
}