/* shared styles */
body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    background: #FFF;
    border: none;
}




/* header related styes */

header {
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
}

header .header-content {
    text-align: end;
    max-width: 450px;
    padding: 150px 150px 250px 0px;
}

.header-content-title {
    color: #FFF;
    font-size: 55px;
    font-weight: 700;
    margin: 0px;
}

.header-content-descrip {
    color: #FFF;
}