/* shared styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 5px;
    background: #FFF;
    border: none;
}




/* header related styes */

header * {
    margin-bottom: 30px;
}

header {
    background-image: url('../images/banner/banner3.png');
    background-size: cover;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
}

header .header-content {
    text-align: end;
    max-width: 450px;
    padding: 150px 150px 250px 0px;
}

.header-content-title {
    color: #FFF;
    font-size: 60px;
    font-weight: 700;

}

.header-content-descrip {
    color: #FFF;
}


/* main related styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 100px;
    margin-bottom: 100px;
}


/* failure related styles */
.failure * {
    margin-bottom: 20px;

}

.failure {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.failure-content {
    max-width: 420px;
    margin-top: 100px;
}

.failure-content-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.failure-content-descrip,
.failure-item {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
}

.failure-item {
    margin: 8px 0;
}


/* My plans related styles */

#myplan * {
    text-align: center;
    margin-bottom: 18px;
}


#myplan .myplan-container {
    display: flex;
    justify-content: space-around;
}

#myplan .plan-content h2 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

#myplan .plan-content p {
    color: #737272;

}

/* mindset related styles */

#mindset {
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    border-radius: 8px;


}

#mindset .mindset-content {
    max-width: 450px;
    padding: 60px 0px 60px 65px;


}

#mindset .mindset-content h3 {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}



/* footer related styles */

footer .footer-container {
    display: flex;
    background-color: #151414;
}


footer .footer-container .footer-text h3 {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;

}

footer .footer-container .footer-text p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

footer .footer-container .footer-text input[type='email'] {
    color: white;
    font-size: 18px;
    background-color: #151414;
    border: 1px solid white;
    border-radius: 10px;
    padding: 21px;

}

footer .footer-container .footer-text {
    max-width: 480px;
    margin: 80px auto;
}

footer .footer-container .footer-text * {
    margin-bottom: 24px;
}

.btn-footer {
    background-color: #005FAC;
    color: white;
}

footer .footer-container .footer-text .social-link img {
    margin-right: 10px;
}